<div class="bossOverlay">
  <style>
    .fade-in { animation-duration:
    {{animationDuration}}s; animation-name: fade-in; } .fade-out {
    animation-duration:
    {{animationDuration}}s; animation-name: fade-out; }
  </style>
  <div class="textWrapper">
    {{#if lineOne}}
    <h1
      name="bossMessage"
      class="fade-in"
      style="color: {{colorFont}}; text-shadow: 3px 3px {{colorShadow}}; font-family: {{fontFamily}}; font-size: {{fontSize}}"
    >
      {{lineOne}}
    {{/if}}
    </h2>
    {{#if lineTwo}}
      <h2
        name="bossSubText"
        class="fade-in"
        style="color: {{subColorFont}}; text-shadow: 3px 3px {{subColorShadow}}; font-family: {{fontFamily}}; font-size: {{subFontSize}}; animation-delay: {{perLineDelay}}ms"
      >
        {{lineTwo}}
      </h3>
    {{/if}}
    {{#if lineThree}}
      <h3
        name="bossSubText"
        class="fade-in"
        style="color: {{subColorFont}}; text-shadow: 3px 3px {{subColorShadow}}; font-family: {{fontFamily}}; font-size: {{subFontSize}}; animation-delay: calc({{perLineDelay}}*2)ms"
      >
        {{lineThree}}
      </h3>
    {{/if}}
  </div>
</div>