<div class="bossOverlay">
  <style>
    .fade-in { animation-duration:
    {{animationDuration}}s; animation-name: fade-in; } .fade-out {
    animation-duration:
    {{animationDuration}}s; animation-name: fade-out; }
  </style>
  <div class="textWrapper">
    <h2
      name="bossMessage"
      class="fade-in"
      style="color: {{colorFont}}; text-shadow: 3px 3px {{colorShadow}}; font-family: {{fontFamily}}; font-size: {{fontSize}}"
    >
      {{message}}
    </h2>
    {{#if subText}}
      <h3
        name="bossSubText"
        class="fade-in"
        style="color: {{subColorFont}}; text-shadow: 3px 3px {{subColorShadow}}; font-family: {{fontFamily}}; font-size: {{subFontSize}}"
      >
        {{subText}}
      </h3>
    {{/if}}
  </div>
</div>